<p-card>
  <p-header>
    <img src="./src/img/logo.png">
  </p-header>

  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="Usuario">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Contraseña">
    </div>

    <div>
      <button pButton type="button" label="INICIAR SESION" class="ui-button-raised"></button>
      <button pButton type="button" label="¿Olvidaste tu contraseña?" class="ui-button-raised ui-button-secondary"></button>

    </div>
  </div>
</p-card>
