<p-card>
  <p-header>
    <img src="/src/img/logo.png">
  </p-header>


  <form   (ngSubmit) = "login(user.value, pass.value) " class="ui-inputgroup">
    <input #user name="user" type="text" pInputText placeholder="Usuario">
      <input #pass name="pass" type="text" pInputText placeholder="Contraseña">

    <div>
      <button pButton type="submit" label="INICIAR SESION" class="ui-button-raised"></button>
      <button pButton type="button" label="¿Olvidaste tu contraseña?" class="ui-button-raised ui-button-secondary"></button>

    </div>
  </form>
</p-card>
